.header {
    color: #ffff;
    text-align: left;
    padding: 5px 0;
    font: Roboto;
    font-family: system-ui;
    height:60px;
    justify-content: space-between;
    display: flex;
    h1{
        font-weight: 500;
        margin: 10px 10px 30px 20px;
    }
  }
  @media (max-width: 768px) {
    .header{
      max-height:60px;
      font-family: system-ui;
      h1{
        margin: 10px 10px 30px 20px;
    }
  }
}
.btn{
   background-color: transparent;
   border: none;
   margin:15px;
   .mat-icon{
     color:#fff !important
   }
}
