/* You can add global styles to this file, and also import other style files */
:root{
    --text-color:#fff;
    --border-color: #ddd;
    --container-border-radius: 8px;
    --background-color: #f5f5f5;
    --container-border-radius: 8px;
}
.bg{
    background-color:#1DA1F2;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-snack-bar-container {
    font-size: 16px;
    background-color: red;
    color: white;
  }